* {
  margin: 0;
  padding: 0;
  max-width: 1920px;
}

/* ------------------------------------------------ zero row margin padding ------------------------- */
.row-zero-margin-padding {
  margin: 0;
  padding: 0;
}
/* ------------------------------------------------------------------- end - zero row margin padding  */

/* ------------------------------------------------ navbar -------------------------------------------*/

.nav-item {
  padding: 0px;
}

a.navbar-brand {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  /* font color is with the nav-bar brand */
}

a.nav-link {
  font-size: 16px;
  /* font color is with the nav-bar link */
}

/* ------------------------------- navbar toggler icon ------------------ */

/* .navbar-light .navbar-toggler-icon {
  background-image: url(../images/image.png);
} */

/* --------------------------------------------end - navbar toggler icon  */

/* --------------------------------------------------------------------------------------end - navbar */

/* -------------------------------- cover section ---------------------------------------------------- */

.cover-section {
  background: linear-gradient(
      rgba(229, 128, 101, 0),
      rgba(99, 141, 151, 0.76),
      rgba(77, 208, 225, 1)
    ),
    transparent url(../images/anondolok1.jpg) center center/cover no-repeat
      scroll;
  padding-top: 100px;
  padding-bottom: 220px;
  background-repeat: no-repeat;
}

.cover-text {
  display: block;
  margin: auto;
}

.cover-text-1 {
  display: flex;
  justify-content: center;
  font-family: "Poppins";
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 113px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
}

.cover-text-2 {
  display: flex;
  justify-content: center;
  font-family: "Poppins";
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 113px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: -50px;
  color: #ffffff;
}

/* ----------- cover form -------------- */

.cover-input {
  text-align: center;
  margin-top: 30px;
}

.cover-input-search {
  width: 500px;
  height: 0px;
  font-size: 15px;
  padding: 20px;
}

.cover-input-submit {
  margin-left: -6px;
  margin-top: -4px;
  border-radius: 0%;
  height: 42.5px;
  font-family: "Poppins";
}

/* ------------------- end- cover form */

/* --------------------------------------------------------------------------- end - cover section */

/* ------------------------------------ featured-books -------------------------------------------*/

.featured-books {
  background-image: url(../images/background-featured-books.png);
  padding: 70px 0;
  color: #ffffff;
}

.featured-books-text {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 59px;
  text-align: center;
}

/* ------------------------------------------------------------------- end - featured-books -----*/

/* ------------------------------------------- book set ---------------------------------------- */
.book-set {
  background-image: url(../images/book-seat.jpg);
  /* height: 100px; */
  padding-top: 130px;
  padding-bottom: 130px;
}

.book-seat-text {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 50px;
  color: #ffffff;
  padding-left: 50px;
}

.book-set-input {
  display: block;
  margin: auto;
}

/* ----------------------------------------------------------------------- end - book set ------ */
